@model InAndOut.Models.Item

<h2>Create Item</h2>

<br />

<form method="post" asp-action="Create">

	<div class="border p-3">
		<div class="form-group row">
			<h2 class="pl-3 text-black-50 pl-3"> Add Item </h2>
		</div>

		<div class="row mb-3">
			<label asp-for="ItemName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="ItemName" type="text" class="form-control"
					   id="itemName" placeholder="item name">
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Borrower" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Borrower" type="text" class="form-control"
					   id="itemName" placeholder="borrower">
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Lender" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Lender" type="text" class="form-control"
					   id="itemName" placeholder="lender">
			</div>
		</div>

		<br />

		<div class="col-auto p-0">
			<input type="submit" class="btn btn-success w-25" value="Create" />		@*width="75"*@
		</div>
								@*<button type="submit" class="btn btn-primary">Create</button>*@

	</div>

</form>

	<br /> <br />

	<div>
		<a asp-controller="Item" asp-action="Index" class="btn btn-outline-danger w-50" style="font-size: 1.2rem;" >
			Back to the List
		</a>
	</div>