@model InAndOut.Models.Item

<h2>Create Item</h2>

<br />

<form method="post"  asp-action="Create">

	<div class="border p-3">

		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group row">
			<h2 class="pl-3 text-black-50 pl-3"> Add Item </h2>
		</div>

		<div class="row mb-3">
			<label asp-for="ItemName" class="col-2 col-form-label"></label>
			<div class="col-8">
				<input asp-for="ItemName" type="text" class="form-control"
					   id="itemName" placeholder="item name">
				@*<span>€</span>*@
				<span asp-validation-for="ItemName" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Borrower" class="col-2 col-form-label"></label>
			<div class="col-8">
				<input asp-for="Borrower" type="text" class="form-control"
					   id="borrower" placeholder="borrower">
				@*<span>€</span>*@
				<span asp-validation-for="Borrower" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Lender" class="col-2 col-form-label"></label>
			<div class="col-8">
				<input asp-for="Lender" type="text" class="form-control"
					   id="lender" placeholder="lender">
				@*<span>€</span>*@
				<span asp-validation-for="Lender" class="text-danger"></span>
			</div>
		</div>
		<br />
		<div class="col-auto p-0">
			@*text-left*@
			<input type="submit" class="btn btn-success w-25" value="Create" 
												style="font-size: 1.2rem;" />
		</div>
					@*width="75"
					<button type="submit" class="btn btn-primary">Create</button>*@

	</div>

</form>

<br />
<br />

<div>
	<a asp-controller="Item" asp-action="Index"
	   class="btn btn-outline-danger w-25" >
		Back to the List
	</a>
</div>


	@*	Validation Client-side:	*@


@section scripts{
	<partial name="_ValidationScriptsPartial" />
}

