@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
	<h2 class="display-4">
		<u> ASP.NET 5.0 MVC </u>
	</h2>

	<br /> <br />

	<h4>Course :</h4>
	<br />

	<h3 class="display-4">
		<strong>
			The Beginners Guide 
		</strong>
		<br />
		<strong>
			To Becoming A Pro
		</strong>
	</h3>

	<br />	<br />
	<hr /> 
	<br />	<br />

	<p>
		Learn about	Udemy course for building web apps:
		<br />
		<a href="https://www.udemy.com/course/aspnet-core-5-mvc/
								learn/lecture/24350638#overview">
		 ASP.NET MVC 5.0 - Becoming A Pro
		</a>
	</p>
</div>
